


.nav {
  color: #fcfcfc;
}




div[class^="MuiBottomNavigation-root-"] {
  padding: 30px 0 60px 0;
  background-color: $mono-medium;
}

div[class^="MuiBottomNavigationAction-selected-"] {
  color: $white;
  font-weight: 600;
}

span[class^="MuiBottomNavigationAction-wrapper-"] {
  color: $white;
  
  span {
    font-size: 1.2rem !important;
  }
}




button.MuiButtonBase-root-8.MuiButton-root-48.MuiButton-contained-59.MuiButton-containedPrimary-60.MuiButton-raised-62.MuiButton-raisedPrimary-63.Profile-button-46 {
  background: #fcfcfc;
}

span.MuiButton-label-49 a {
  color: #f50057;
  text-decoration: none;
  letter-spacing: 0.75px;
}

button.MuiButtonBase-root-8.MuiButton-root-48.MuiButton-contained-59.MuiButton-containedPrimary-60.MuiButton-raised-62.MuiButton-raisedPrimary-63.Profile-button-46:hover,
button.MuiButtonBase-root-8.MuiButton-root-48.MuiButton-contained-59.MuiButton-containedPrimary-60.MuiButton-raised-62.MuiButton-raisedPrimary-63.Profile-button-46:hover
  a {
  background: #f50057;
  color: #fcfcfc;
}

.update-inputs {
  margin-bottom: 55px;
}

.center {
  @include medium() {
    left: 25%;
    margin-top: 10rem;
  }
}




// global styles
input {
  font-size: 1.8rem;
}

.box {
  border: none;
  margin-bottom: 15px;
  padding: 30px;
  width: 80%;
  @include box-shadow;
  @include medium() {
    width: 100%;
    max-width: 800px;
  }
}

.loader-container {
  top: 25vh;
  position: relative;
}