nav {
    background-color: $primary-dark;
    display: flex;
    position: sticky;
    justify-content: space-between;
    width: 100%;
    padding: 10px;
    top: 0;
    z-index: 10;
    @include phone() {
        bottom: 0;
    }
    .nav-links {
        
        a {
            margin: 0 10px 0 20px;
            font-size: 3rem;
        }
    }
}