.App {
  text-align: center;
}

.nav {
  color: #fcfcfc;
}
.desktop p:after {
  content: "";
  height: 27%;
  width: 20px;
  position: absolute;
  display: block;
  top: 110px;
  left: 80%;
  border-left: 3px dashed black;
}

.inputs input {
  border: 0;
  padding: 6px 0;
  font-size: 1rem;
  width: 240px;
  outline: 0;
  color: white;
  border-bottom: 1px solid #2592f2;
  margin-right: 8px;
}

.box {
  height: 160px;
  border: 1px solid #2592f2;
  margin-bottom: 15px;
}

.side-panel {
  padding-bottom: 100px;
}

html,
body {
  color: #020207;
  width: 100%;
  height: 100%;
}

.MuiBottomNavigationAction-selected-4 {
  color: white;
  font-weight: 600;
}

.box {
  border: none;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.flex {
  flex-wrap: wrap;
  height: auto;
  padding-bottom: 100px;
}

.profile,
.inputs {
  box-sizing: border-box;
}

.profile {
  padding: 30px;
  margin-top: 0;
  border: none;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  width: 100%;
  height: auto;
  min-height: 500px;
  position: relative;
}

.inputs {
  width: 100%;
  padding: 30px;
  border: none;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  height: auto;
  min-height: 500px;
  position: relative;
}

.inputs input {
  color: #020207;
}

.profile p {
  border: none;
  margin: 0;
  padding: 0;
  width: 100%;
  text-align: left;
  font-size: 1.6rem;
}

button.MuiButtonBase-root-8.MuiButton-root-48.MuiButton-contained-59.MuiButton-containedPrimary-60.MuiButton-raised-62.MuiButton-raisedPrimary-63.Profile-button-46 {
  background: #fcfcfc;
}

span.MuiButton-label-49 a {
  color: #f50057;
  text-decoration: none;
  letter-spacing: 0.75px;
}

button.MuiButtonBase-root-8.MuiButton-root-48.MuiButton-contained-59.MuiButton-containedPrimary-60.MuiButton-raised-62.MuiButton-raisedPrimary-63.Profile-button-46:hover,
button.MuiButtonBase-root-8.MuiButton-root-48.MuiButton-contained-59.MuiButton-containedPrimary-60.MuiButton-raised-62.MuiButton-raisedPrimary-63.Profile-button-46:hover
  a {
  background: #f50057;
  color: #fcfcfc;
}

.profile-btns {
  width: 100%;
  position: absolute;
  bottom: 0;
}

.inputs button {
  position: absolute;
  bottom: 10px;
  left: 10px;
  width: 100px;
  height: 30px;
  border-radius: 3px;
  border: none;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  cursor: pointer;
}

.update-inputs {
  margin-bottom: 55px;
}

@media screen and (min-width: 599px) {
  .center {
    left: 25%;
    margin-top: 10rem;
  }
  .header {
    padding-top: 56px;
  }
  .desktop p:after {
    content: "";
    height: 83%;
    width: 20px;
    position: absolute;
    display: block;
    top: 200px;
    left: 64.8%;
    border-left: 3px dashed black;
  }
  .desktop {
    margin: 50px;
    display: flex;
    height: 50%;
    width: 75%;
  }

  .box {
    height: 350px;
    width: 300px;
    margin-bottom: 15px;
  }
  .flex {
    margin-top: 10rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .profile,
  .inputs {
    border: 1px solid black;
    width: 55rem;
    height: 40rem;
    display: flex;
    flex-flow: column;
    align-items: flex-start;
  }

  .profile p {
    font-size: 1.5rem;
    margin-left: 5rem;
    border: 1px solid black;
    width: 40rem;
    height: 3rem;
  }

  .profile .profile-btns {
    margin-right: 5rem;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
  }
  html,
  body {
    color: #020207;
    width: 100%;
    height: 100%;
  }

  .box {
    border: none;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  }

  .flex {
    flex-wrap: wrap;
    height: auto;
  }

  .profile,
  .inputs {
    box-sizing: border-box;
  }

  .profile {
    padding: 30px;
    margin-top: 0;
    border: none;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    width: 45%;
    height: auto;
    min-height: 500px;
    position: relative;
    margin-bottom: 25px;
  }

  .inputs {
    width: 45%;
    padding: 30px;
    border: none;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    height: auto;
    min-height: 500px;
    position: relative;
  }

  .inputs input {
    color: #020207;
  }

  .profile p {
    border: none;
    margin: 0;
    padding: 0;
    width: 100%;
    text-align: left;
  }

  button.MuiButtonBase-root-8.MuiButton-root-48.MuiButton-contained-59.MuiButton-containedPrimary-60.MuiButton-raised-62.MuiButton-raisedPrimary-63.Profile-button-46 {
    background: #fcfcfc;
  }

  span.MuiButton-label-49 a {
    color: #f50057;
    text-decoration: none;
    letter-spacing: 0.75px;
  }

  button.MuiButtonBase-root-8.MuiButton-root-48.MuiButton-contained-59.MuiButton-containedPrimary-60.MuiButton-raised-62.MuiButton-raisedPrimary-63.Profile-button-46:hover,
  button.MuiButtonBase-root-8.MuiButton-root-48.MuiButton-contained-59.MuiButton-containedPrimary-60.MuiButton-raised-62.MuiButton-raisedPrimary-63.Profile-button-46:hover
    a {
    background: #f50057;
    color: #fcfcfc;
  }

  .profile-btns {
    width: 100%;
    position: absolute;
    bottom: 0;
  }

  .inputs button {
    position: absolute;
    bottom: 10px;
    left: 10px;
    width: 100px;
    height: 30px;
    border-radius: 3px;
    border: none;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    cursor: pointer;
  }
  .MuiBottomNavigationAction-selected-4 {
    color: white;
    font-weight: 600;
  }
}
